name: "Build (ESP-IDF latest)"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container:
      image: espressif/idf:latest
      env:
        LANG: en_US.UTF-8
    
    env:
      example-path: example

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Build example
      run: |
        echo "Working directory:"
        pwd
        echo "Files:"
        ls
        . ${IDF_PATH}/export.sh
        echo "IDF_PATH export done"
        cd ${{ env.example-path }}
        echo "Moved to example, working directory:"
        pwd
        idf.py build
        echo "Build done"
