name: "CodeQL"

on:
  push:
    branches: [ master ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    container: espressif/idf:latest
    
    env:
      component-path: display_driver
      example-path: display_driver/example

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.component-path }}
    
    - name: Build example
      run: |
        . ${IDF_PATH}/export.sh
        cd /github/workspace/${{ env.example-path }}
        idf.py build

    
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1


    # ✏️ If the Autobuild fails above, remove it and uncomment the following three lines
    #    and modify them (or add more) to build your code if your project
    #    uses a compiled language

    #- run: |
    #   make bootstrap
    #   make release

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
