name: "ESP-IDF Build"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    
    container: espressif/idf:v4.2
    
    env:
      component-path: display_driver
      example-path: display_driver/example

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.component-path }}
    
    - name: Build example
      run: |
        echo "Working directory:"
        pwd
        echo "Files:"
        ls
        . ${IDF_PATH}/export.sh
        echo "IDF/export.sh finished"
        cd /github/workspace/display_driver/example
        echo "Moved to example directory"
        idf.py build
        echo "Build finished"

    #- name: Perform CodeQL Analysis
    #  uses: github/codeql-action/analyze@v1
