name: "ESP-IDF Build"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    container: espressif/idf:v4.2

    strategy:
      fail-fast: false
      matrix:
        language: [cpp]
    
    env:
      component-path: display_driver
      example-path: display_driver/example

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        path: ${{ env.component-path }}

    - name: Initialize CodeQL
      uses: github/codeql-action/init@v1
      with:
        languages: ${{ matrix.language }}
    
    - name: Build example
      run: |
        . ${IDF_PATH}/export.sh
        cd ${{ env.example-path }}
        idf.py build

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v1
